DB__NAME=issueflow
DB__TEST_NAME=issueflow_test
DB__USER=postgres
DB__PASSWORD=postgres
DB__HOST=db
DB__PORT=5432


SECURITY__JWT_SECRET=supersecret
SECURITY__REFRESH_SECRET=supersecret
SECURITY__ALGORITHM=HS256
SECURITY__ACCESS_TOKEN_EXPIRE_MINUTES=30
SECURITY__REFRESH_TOKEN_EXPIRE_DAYS=7

REDIS__HOST=redis
REDIS__PORT=6379

RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest

EMAIL__HOST=mailhog
EMAIL__PORT=1025
EMAIL__USER=
EMAIL__PASSWORD=
EMAIL__STARTTLS=False
EMAIL__SSL_TLS=False

LOGGING__LOG_LEVEL=INFO