fastapi
uvicorn[standard]

aio-pika
redis
websockets
celery

jinja2
aiosmtplib

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator
python-multipart

pwdlib[argon2]
python-jose[cryptography]

pytest
pytest-asyncio
httpx
ruff

uuid6