fastapi
uvicorn[standard]

aio-pika
redis
websockets
celery

jinja2
aiosmtplib

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator
python-multipart
python-json-logger
user_agents
reverse_geocode

pwdlib[argon2]
python-jose[cryptography]

pytest
pytest-asyncio
httpx
ruff
asgi-profiler

uuid6