        {% extends "base.html" %}

        {% block content %}
        <main class="container">
            <form id="reset-password-verify-form" class="verify-box">
                <div class="verify-icon">🔒</div>
                <h1>Reset password</h1>
                <p class="verify-description">We've sent a verification code to</p>
                <div id="user-email" class="verify-email"></div>
                <div class="verify-code">
                    <input maxlength="1" inputmode="numeric" autocomplete="one-time-code">
                    <input maxlength="1" inputmode="numeric">
                    <input maxlength="1" inputmode="numeric">
                    <input maxlength="1" inputmode="numeric">
                    <input maxlength="1" inputmode="numeric">
                    <input maxlength="1" inputmode="numeric">
                </div>
                <button type="submit" class="verify-button">Verify code</button>
                <button type="button" id="resend-code" class="verify-link-button">Resend code
                </button>
            </form>
        </main>
        {% endblock %}