        {% extends "base.html" %}   {% block content %}
        <main class="container">
            <div class="profile-card">
                <div class="avatar" id="avatar">U</div>
                <h1 id="user_text">Loading...</h1>
                <p id="email"></p>
                <span id="status" class="status"></span>
                <div id="verify-email-container" class="verify-email hidden">
                    <button id="verify-email-btn" class="verify-email-btn">Verify email</button>
                </div>
                <div class="info">
                    <div class="item">
                        <span>Public ID</span>
                        <strong id="public_id"></strong>
                    </div>
                    <div class="item">
                        <span>Created</span>
                        <strong id="created_at"></strong>
                    </div>
                    <div class="item">
                        <span>Email verified</span>
                        <strong id="verified"></strong>
                    </div>
                </div>
            </div>
        </main>{% endblock %}