{% extends "base.html" %}

{% block content %}
<main class="container">

<form id="reset-password-form" class="verify-box">

    <div class="verify-icon">🔒</div>

    <h1>Reset password</h1>

    <p class="verify-description">
        We've sent a verification code to
    </p>

    <div id="user-email" class="verify-email"></div>

    <div class="verify-code">

        <input maxlength="1">
        <input maxlength="1">
        <input maxlength="1">
        <input maxlength="1">
        <input maxlength="1">
        <input maxlength="1">

    </div>

    <label class="verify-label">
        New password
    </label>

    <input
        id="password"
        class="verify-input"
        type="password"
        autocomplete="new-password"
        required
    >

    <label class="verify-label">
        Confirm password
    </label>

    <input
        id="confirm-password"
        class="verify-input"
        type="password"
        autocomplete="new-password"
        required
    >

    <button class="verify-button">
        Reset password
    </button>

    <button
        type="button"
        id="resend-code"
        class="verify-link-button">
        Resend code
    </button>

</form>

</main>
{% endblock %}